#main {
    height: 1864px;
}

#centent {
    background: #fff;
    margin-top: 18px;
}

#centent>div {
    width: 1052px;
    height: 1688px;
    padding: 52px 76px 30px 72px;
}

#centent h3 {
    font-size: 24px;
    color: #3f5800;
    text-align: center;
    margin-bottom: 36px;
}

#centent a {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #686667;
}

#centent p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.sp {
    display: block;
    margin-left: 30px;
    margin-bottom: 30px;
}